{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
    <h1>User List</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.first_name }} {{ user.last_name }} <img src="{{ user.image_url }}" alt="DEFAULT_IMAGE_URL"> </li>
        {% endfor %}
    </ul>


<h2>Add New User</h2>
  <form action="/" method="POST">
    <input type="text" name="first_name" placeholder="first name">
    <input type="text" name="last_name" placeholder="last name">
    <input type="text" name="image_url" placeholder="image URL or None">
    <button>Submit New User</button>
  </form>

  {% endblock %}