<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Cupcakes!</h1>
    <ul id="cupcakes-list"></ul>
    <form id="new-cupcake-form" method="POST" action="/api/cupcakes">
        <input type="text", id="flavor" name="flavor" placeholder="Flavor">
        <input type="text", id="size" name="size" placeholder="Size">
        <input type="text", id="rating" name="rating" placeholder="Rating">
        <input type="text", id="image" name="image" placeholder="Image URL">
        <button type="submit">Add Cupcake</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/cupcakes.js"></script>
</body>
</html>