<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
</head>
<body>
    <h1>Welcome to Boggle!!</h1>
    <section id="boggle">
        <table class="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for letter in row %}
                    <td>{{ letter }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>High Score: 
            <b>{{ highscore }}</b> 
            in {{ num_plays }} plays
          </p>
    
          <p>
            Score: <b class="score">0</b>
            Seconds Left: <b class="timer"></b>
          </p>

        <form method="POST" action="/submit-word" class="submit-word">
            <input type="text" name="word" class="word" id="wordInput">
            <button type="submit" id="submitButton">Submit</button>
        </form>

        <p class="message">
            <!-- JS messages -->
        </p>

        <ul class="words">
            <!-- JS to put list of words here as they score -->
        </ul>
    </section>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/boggle.js"></script>
    <script src="http://unpkg.com/jquery"></script>
</body>
</html>