{% extends 'base.html' %}

{% block title %}Edit User Details{% endblock %}

{% block content %}

<h1>Edit User</h1>
<br>
<form action="/users/edit" method="POST">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="first_name" value="{{ user.first_name }}">
    <label for="floatingInput">First Name</label>
  </div>

  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="last_name" value="{{ user.last_name }}">
    <label for="floatingInput">Last Name</label>
  </div>
    
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="image_url" value="{{ user.image_url }}">
    <label for="floatingInput">Image URL</label>
  </div>

  <div>
    <a href="/users" class="btn btn-lg btn-warning">Cancel</a>
    <a href="user/{{ user.id }}.html">
        <button class="btn btn-lg btn-success" type="submit">Save</button>
    </a>
  </div>

</form>

{% endblock %}