{% extends 'base.html' %}

{% block title %}Edit Tag{% endblock %}

{% block content %}

<h1>Edit a tag</h1>
<br>
<form action="/tags/new" method="POST">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" name="name" placeholder="Enter tag name">
    <label for="floatingInput">Tag Name</label>
  </div>


  <a href="/tags" class="btn btn-lg btn-info">Cancel</a>
    <a href="user/post/new.html">
      <button class="btn btn-lg btn-success" type="submit">Add</button>
    </a>
</form>
{% endblock %}